<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
      {{>header}}
    <img src="/img/ranjit.png" alt="Profile" />
  <div>  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione vel fugit dolorum facilis! Perspiciatis aliquam, et natus quo culpa amet magni non impedit, nobis autem dolorem, reprehenderit aperiam veniam recusandae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, animi officiis sit non voluptate natus cumque! Quas repudiandae praesentium, dolorum quidem voluptatum doloremque magni dicta consequatur eaque quo suscipit facilis.</p></div>
    {{>footer}}

  </body>
</html>