<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HBS</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    {{>header}}
    <p>Search Weather by City Name</p>
<form action="/weather">
    <input type="text" placeholder="city" name="city" required>
    <button type="submit">Search</button>
</form>    
{{>footer}}
  </body>
</html>