<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HBS</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    {{>header}}
    <img src="/img/avatar.jpg" alt="profile" >
<form action="/avatarupload" method="post" enctype="multipart/form-data">
    <input type="file" placeholder="Avatar" name="avatar" required>
    <button type="submit">Upload</button>
</form>    
{{>footer}}
  </body>
</html>